<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<i class="fas fa-paw" title="Toggle menu"></i>
dfssdfsdf
<i class="fa fa-twitter" ></i>
<h1>Heading 2</h1>

<h2>Heading 2</h2>

<link rel="icon" type="image/x-icon" href="favicon.ico" />

<button type="button"  class="btn btn-link"><i class="fas fa-bell"></i> Notifications</button>
<hr>
<button type="button"  class="btn btn-link"><i class="fas fa-sign-out-alt"></i> Logout</button>
<button pButton  label="Logout" icon="fas fa-sign-out-alt" style="margin-left:.25em"></button>

<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="a-clash-of-kings.jpg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>

<zy-ui-header></zy-ui-header>
