
<div class="layout-wrapper" [ngClass]="{'layout-news-active': true,
            'p-input-filled': true, 'p-ripple-disabled': true}">

    <zy-ui-header [logo] ="logo">
    </zy-ui-header>
  <zy-ui-navbar [logo] ="logo">

  </zy-ui-navbar>
<!--  <div class="layout-topbar">-->
<!--    <a class="menu-button" >-->
<!--      ddddddddd<i class="pi pi-bars"></i>-->
<!--    </a>-->
<!--    aaaaaaaaaaaa-->
<!--  </div>-->
  <div class="layout-content">
    <router-outlet></router-outlet>
  </div>

</div>

<!--  <div class="layout-topbar">-->
<!--    <a class="menu-button" >-->
<!--      <i class="pi pi-bars"></i>-->
<!--    </a>-->
<!--    <a  class="logo">-->
<!--      9999999999-->
<!--    </a>-->
<!--    <div class="app-theme"  tooltipPosition="bottom">-->
<!--      nnnnnn-->
<!--    </div>-->
<!--    <ul #topbarMenu class="topbar-menu">-->
<!--      <li><a >Get Started</a></li>-->

<!--      <li class="topbar-submenu">-->
<!--        <a tabindex="0" >Templates</a>-->
<!--        <ul >-->
<!--          <li class="topbar-submenu-header">PREMIUM ADMIN TEMPLATES</li>-->
<!--          <li>-->
<!--            <a href="https://www.primefaces.org/layouts/poseidon-ng">-->
<!--              <span>Poseidon</span>-->
<!--            </a>-->
<!--          </li>-->

<!--        </ul>-->
<!--      </li>-->
<!--      <li class="topbar-submenu">-->
<!--        <a tabindex="0" >Resources</a>-->
<!--        <ul >-->
<!--          <li><a href="https://www.primetek.com.tr" target="_blank"><span>About PrimeTek</span></a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li class="topbar-submenu">-->
<!--        <a >ppppppppppp</a>-->
<!--        <ul  style="width:100%">-->
<!--          <li  >-->
<!--            <a>aaa</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
